*{
    margin: 0;
    font-family: 'Fredoka', sans-serif;
}
body::-webkit-scrollbar {
    width: 6px;
  }
body::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
 body::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
    border-radius: 5px;
  }
a{
    text-decoration: none;
}
ol, ul{
  list-style: none;
}
.container{
  width: 1220px;
  margin: 0 auto;
}